/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-column-gap: 70px;
}

.item1 {
  grid-column: 1/-1;
}

.item2 {
  grid-column: 1/-1;
}
.item12 {
  grid-column: 1/-1;
}
.item16 {
  grid-column: 1/-1;
}
.item8 {
  grid-column: 1/-1;
}
.item20 {
  grid-column: 1/-1;
}
